pybgpkit-parser===0.4.2
gql===3.4.1
requests===2.31.0
requests-toolbelt===1.0.0
networkx===3.2.1
editdistance===0.6.1
matplotlib==3.8.2
numpy==1.22.0

django-peeringdb==3.2.0
peeringdb==2.0.0
django>=4.2,<4.3